
<section>
	<div class="container">
		<div class="box-member-area">
			<!--
			<div class="alert alert-success alert-dismissible">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				Your profile change was successful
			</div>
			-->
			<%- include('../components/left')-%>
			<div class="right-member-area">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active"  id="dashboard-tab" data-toggle="tab" data-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="account-tab" data-toggle="tab" data-target="#account" type="button" role="tab" aria-controls="account" aria-selected="false">Account</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
						<div class="container-xxl flex-grow-1 container-p-y">
							<div class="row">
							  <div class="col-12">
								<div class="card">
								  <div class="d-flex align-items-end row">
									<div class="col-sm-7">
									  <div class="card-body">
										<h5 class="card-title text-primary">Congratulations <span class="title-content-account"></span>! 🎉</h5>
										<p class="mb-4">
										  You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
										  your profile.
										</p>
			  
										<a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
									  </div>
									</div>
									<div class="col-sm-5 text-center text-sm-left">
									  <div class="card-body pb-0 px-0 px-md-4">
										<img
										  src="/assets/images/illustrations/man-with-laptop-light.png"
										  height="140"
										  alt="View Badge User"
										  data-app-dark-img="illustrations/man-with-laptop-dark.png"
										  data-app-light-img="illustrations/man-with-laptop-light.png"
										/>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<p>
							  <!-- Total Revenue -->
							  <div class="row">
							  <div class="col-12">
								<div class="card">
								  <div class="row row-bordered g-0">
									<div class="col-md-8">
									  <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
									  <div id="totalRevenueChart" class="px-2"></div>
									</div>
									<div class="col-md-4">
									  <div class="card-body">
										<div class="text-center">
										  <div class="dropdown">
											<button
											  class="btn btn-sm btn-outline-primary dropdown-toggle"
											  type="button"
											  id="growthReportId"
											  data-bs-toggle="dropdown"
											  aria-haspopup="true"
											  aria-expanded="false"
											>
											  2022
											</button>
											<div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
											  <a class="dropdown-item" href="javascript:void(0);">2021</a>
											  <a class="dropdown-item" href="javascript:void(0);">2020</a>
											  <a class="dropdown-item" href="javascript:void(0);">2019</a>
											</div>
										  </div>
										</div>
									  </div>
									  <div id="growthChart"></div>
									  <div class="text-center fw-semibold pt-3 mb-2">62% Company Growth</div>
			  
									  <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
										<div class="d-flex">
										  <div class="me-2">
											<span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
										  </div>
										  <div class="d-flex flex-column">
											<small>2022</small>
											<h6 class="mb-0">$32.5k</h6>
										  </div>
										</div>
										<div class="d-flex">
										  <div class="me-2">
											<span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
										  </div>
										  <div class="d-flex flex-column">
											<small>2021</small>
											<h6 class="mb-0">$41.2k</h6>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							  <!--/ Total Revenue -->
							  <p> 
							  <div class="col-12 ">
								<div class="row">
								  
								  <div class="col-12">
									<div class="card">
									  <div class="card-body">
										<div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
										  <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
											<div class="card-title">
											  <h5 class="text-nowrap mb-2">Profile Report</h5>
											  <span class="badge bg-label-warning rounded-pill">Year 2021</span>
											</div>
											<div class="mt-sm-auto">
											  <small class="text-success text-nowrap fw-semibold"
												><i class="bx bx-chevron-up"></i> 68.2%</small
											  >
											  <h3 class="mb-0">$84,686k</h3>
											</div>
										  </div>
										  <div id="profileReportChart"></div>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<p>
							<!-- Order Statistics -->
							<div class="row">
							  <div class="col-12">
								<div class="card h-100">
								  <div class="card-header d-flex align-items-center justify-content-between pb-0">
									<div class="card-title mb-0">
									  <h5 class="m-0 me-2">Order Statistics</h5>
									  <small class="text-muted">42.82k Total Sales</small>
									</div>
									<div class="dropdown">
									  <button
										class="btn p-0"
										type="button"
										id="orederStatistics"
										data-bs-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									  >
										<i class="bx bx-dots-vertical-rounded"></i>
									  </button>
									  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
										<a class="dropdown-item" href="javascript:void(0);">Select All</a>
										<a class="dropdown-item" href="javascript:void(0);">Refresh</a>
										<a class="dropdown-item" href="javascript:void(0);">Share</a>
									  </div>
									</div>
								  </div>
								  <div class="card-body">
									<div class="d-flex justify-content-between align-items-center mb-3">
									  <div class="d-flex flex-column align-items-center gap-1">
										<h2 class="mb-2">8,258</h2>
										<span>Total Orders</span>
									  </div>
									  <div id="orderStatisticsChart"></div>
									</div>
									<ul class="p-0 m-0">
									  <li class="d-flex mb-4 pb-1">
										<div class="avatar flex-shrink-0 me-3">
										  <span class="avatar-initial rounded bg-label-primary"
											><i class="bx bx-mobile-alt"></i
										  ></span>
										</div>
										<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
										  <div class="me-2">
											<h6 class="mb-0">Electronic</h6>
											<small class="text-muted">Mobile, Earbuds, TV</small>
										  </div>
										  <div class="user-progress">
											<small class="fw-semibold">82.5k</small>
										  </div>
										</div>
									  </li>
									  <li class="d-flex mb-4 pb-1">
										<div class="avatar flex-shrink-0 me-3">
										  <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
										</div>
										<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
										  <div class="me-2">
											<h6 class="mb-0">Fashion</h6>
											<small class="text-muted">T-shirt, Jeans, Shoes</small>
										  </div>
										  <div class="user-progress">
											<small class="fw-semibold">23.8k</small>
										  </div>
										</div>
									  </li>
									  <li class="d-flex mb-4 pb-1">
										<div class="avatar flex-shrink-0 me-3">
										  <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
										</div>
										<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
										  <div class="me-2">
											<h6 class="mb-0">Decor</h6>
											<small class="text-muted">Fine Art, Dining</small>
										  </div>
										  <div class="user-progress">
											<small class="fw-semibold">849k</small>
										  </div>
										</div>
									  </li>
									  <li class="d-flex">
										<div class="avatar flex-shrink-0 me-3">
										  <span class="avatar-initial rounded bg-label-secondary"
											><i class="bx bx-football"></i
										  ></span>
										</div>
										<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
										  <div class="me-2">
											<h6 class="mb-0">Sports</h6>
											<small class="text-muted">Football, Cricket Kit</small>
										  </div>
										  <div class="user-progress">
											<small class="fw-semibold">99</small>
										  </div>
										</div>
									  </li>
									</ul>
								  </div>
								</div>
							  </div>
							  <!--/ Order Statistics -->
							</div>
							<p>
							<div class="row">
								<!-- Expense Overview -->
								<div class="col-12">
									<div class="card h-100">
									  <div class="card-header">
										<ul class="nav nav-pills" role="tablist">
										  <li class="nav-item">
											<button
											  type="button"
											  class="nav-link active"
											  role="tab"
											  data-bs-toggle="tab"
											  data-bs-target="#navs-tabs-line-card-income"
											  aria-controls="navs-tabs-line-card-income"
											  aria-selected="true"
											>
											  Income
											</button>
										  </li>
										  <li class="nav-item">
											<button type="button" class="nav-link" role="tab">Expenses</button>
										  </li>
										  <li class="nav-item">
											<button type="button" class="nav-link" role="tab">Profit</button>
										  </li>
										</ul>
									  </div>
									  <div class="card-body px-0">
										<div class="tab-content p-0">
										  <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
											<div class="d-flex p-4 pt-3">
											  <div class="avatar flex-shrink-0 me-3">
												<img src="/assets/images/icons/unicons/wallet.png" alt="User" />
											  </div>
											  <div>
												<small class="text-muted d-block">Total Balance</small>
												<div class="d-flex align-items-center">
												  <h6 class="mb-0 me-1">$459.10</h6>
												  <small class="text-success fw-semibold">
													<i class="bx bx-chevron-up"></i>
													42.9%
												  </small>
												</div>
											  </div>
											</div>
											<div id="incomeChart"></div>
											<div class="d-flex justify-content-center pt-4 gap-2">
											  <div class="flex-shrink-0">
												<div id="expensesOfWeek"></div>
											  </div>
											  <div>
												<p class="mb-n1 mt-1">Expenses This Week</p>
												<small class="text-muted">$39 less than last week</small>
											  </div>
											</div>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
								  <!--/ Expense Overview -->
				  
								  
							</div>
						  </div>
						  <!-- / Content -->
			  
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-lg-3">
								<div class="u-box-avatar">
									<div class="u-img-avatar">
										<span class="initial"></span>
									</div>
									<!--
									<div class="u-img-avatar-alt" style="background-image: url('/assets/images/img-andri.png');"></div>
									-->
									<div class="clearer"></div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-9 col-lg-9">
								<div class="u-box-field">
									<div class="u-left-field">
										Name <span>:</span>
									</div>
									<div class="u-right-field">
										<span class="account-name"></span>
									</div>
								</div>
								<div class="u-box-field">
									<div class="u-left-field">
										Email <span>:</span>
									</div>
									<div class="u-right-field">
										<span class="account-email"></span>
									</div>
								</div>
								<div class="u-box-field">
									<div class="u-left-field">
										Contact No. <span>:</span>
									</div>
									<div class="u-right-field">
										<span class="account-phone"></span>
									</div>
								</div>
								
								<button class="btn-blue actEditProfile">Edit</button>
								
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
						
					</div>
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="account"	
</script>
