<section>
	<div class="container">
		<div class="box-member-area">
			
			<%- include('../components/left')-%>
			<div class="right-member-area">
				<!--
				<div class="alert alert-warning alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					Your Free Trial expires in 2 days. You can manually publish 9 more video(s) with your Free Trial. For unlimited automatic publishing,
				</div>
				-->
				<div style="margin-bottom:3%;">
					
					<button type="button" class="btn btn-success  btnAddWorkflow"><i class="fas fa-plus"></i> Create a New Workflow</button>
					<button type="button" class="btn btn-success btnRefreshWorkflow"><i class="fas fa-hourglass"></i> Refresh </button>
					
				</div>
				
				<div id="wizard" style="display:none;">
					<h2>Name</h2>
					<section>
						<form id="formWfStep1" class="cmxform" method="get">
							<div class="box-field">
								<input type="text" name="txtWorkflowName" id="txtWorkflowName" class="text-field required" placeholder="Name This Workflow"  required>
								<i class="fas fa-cubes icon-field"></i>
							</div>
						</form>
					</section>
	
					<h2>Source</h2>
					<section>
						<form id="formWfStep2" class="cmxform" method="get">
							<div class="box-field">
								<select id="optFormWorkflowSourceType" name="optFormWorkflowSourceType" class="text-field">
									<option value="">-- Choose Your Source Type --</option>
									<option value="youtube">Youtube</option>
									<option value="gdrive">Google Drive</option>
									<option value="tiktok">Tiktok</option>
									<option value="pinterest">Pinterest</option>
									<option value="dropbox">Dropbox</option>
									<option value="snapchat">Snapchat</option>
									<option value="linkedin">Linked In</option>
									<option value="fb">Facebook</option>
									<option value="insta">Instagram</option>
								</select>
								<i class="fas fa-cubes icon-field"></i>
							</div>

							<!--YT-->
							<div tyle="display:none;" id="divFormYoutube">
								<div class="box-field">
									<select id="optFormWorkflowSourceConnection" name="optFormWorkflowSourceConnection" class="text-field">
										<option value="">-- Select Your Source Connection --</option>
										<option value="1">My Chanel</option>
										<option value="2">Other Chanel</option>
									</select>
									<i class="fas fa-cubes icon-field"></i>
								</div>
								<div class="box-field">
									<select id="optFormWorkflowSourcePlaylist" name="optFormWorkflowSourcePlaylist" class="text-field">
										<option value="">-- Choose Playlist --</option>
										<option value="1">Main chanel (No Playlist)</option>
										<option value="2">Chanel Name</option>
									</select>
									<i class="fas fa-cubes icon-field"></i>
								</div>
								<div class="box-field">
									<select id="optFormWorkflowSourceYTVideoType" name="optFormWorkflowSourceYTVideoType" class="text-field">
										<option value="">-- Choose A Youtube Video Type --</option>
										<option value="all">All Youtube Videos</option>
										<option value="short">Youtube Short</option>
										<option value="regular">Regular Videos</option>
									</select>
									<i class="fas fa-cubes icon-field"></i>
								</div>
							</div>
							<!---->

							<!--gdrive-->
							<div tyle="display:none;" id="divFormGoogleDrive">
								<div class="box-field"  id="divOptFormWorkflowMediaType">
									<select id="optFormWorkflowMediaType" name="optFormWorkflowMediaType" class="text-field">
										<option value="">-- Choose Media Type --</option>
										<option value="video">Video</option>
										<option value="audio">Audio</option>
									</select>
									<i class="fas fa-cubes icon-field"></i>
								</div>
								<span style="color:red;">Please reconnect this source connection</span><br>
								Choose a Google Drive Folder (Optional)<br>
								Choose from Google Drive<br>
								<b>Note: Only videos found in this folder (not any of its subfolders) will be added</b><br>

								Selected Google Drive Folder<br>
								<b>none</b>
							</div>
							
							<!---->

							<div class="box-field">
								<select id="optFormWorkflowSourceConnections" name="optFormWorkflowSourceConnections" class="text-field">
									<option value="">-- Select Source Connection --</option>
									<option value="video">Your Connection Name</option>
									<option value="photo">My Connection Name</option>
								</select>
								<i class="fas fa-cubes icon-field"></i>
							</div>

						</form>
					</section>
	
					<h2>Action</h2>
					<section>
						<div class="box-field">
							<select id="optFormWorkflowAction" name="optFormWorkflowAction" class="text-field">
								<option value="">-- Choose an action --</option>
								<option value="drive">Convert video to audio</option>
								<option value="youtube">Upload Video</option>
							</select>
							<i class="fas fa-cubes icon-field"></i>
						</div>
						<div class="box-field">
							<select id="optFormWorkflowTypeVideo" name="optFormWorkflowTypeVideo" class="text-field">
								<option value="">Full video</option>
								<option value="drive">Snippets (Clips)</option>
							</select>
							<i class="fas fa-cubes icon-field"></i>
						</div>
					</section>
	
					<h2>Destination</h2>
					<section>
						<div class="box-field">
							<select id="optFormWorkflowDestinationConnetion" name="optFormWorkflowDestinationConnetion" class="text-field">
								<option value="">-- Select Destination Connection --</option>
								<option value="drive">My Clipss</option>
								<option value="youtube">Your Clips</option>
							</select>
							<i class="fas fa-cubes icon-field"></i>
						</div>
						<div class="box-field">
							<select id="optFormWorkflowDestinationFolder" name="optFormWorkflowDestinationFolder" class="text-field">
								<option value="">-- Select destination playlist/folder --</option>
							</select>
							<i class="fas fa-cubes icon-field"></i>
						</div>
						<div class="box-field">
							<input type="text" name="txtWorkflowFolder" id="txtWorkflowFolder" class="text-field" placeholder="Enter a name for a new folder (optional)"  required>
							<i class="fas fa-cubes icon-field"></i>
						</div>
					</section>
				</div>
				<div id="workflow-table">
				<table id="tblWorkflow" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th>Workflow</th>
							<th>Publish Mode</th>
							<th>Status</th>
							<th>Total</th>
							<th colspan="=2"></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
						<tr>
							<td>Edwin youtube</td>
							<td>
								<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
								<label class="form-check-label" for="flexSwitchCheckDefault">Auto</label>
							  </div>
							</td>
							<td>Inactive</td>
							<td>1</td>
							<td><a href="#" class="btn">VIEW CONTENT</a></td>
							<td><i class="fa fa-cog" aria-hidden="true"></i></td>
							<td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
							
						</tr>
						
						
					</tbody>
				</table>
				</div>

			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="workflows"	
</script>