<html>
<%- include('components/css')-%>
<body>
<%- include('components/header')-%>
<!--main content-->
<% if (page=='account') { %>
    <%- include('account/account')-%>
<% } %>
<% if (page=='calendars') { %>
    <%- include('calendars/calendars')-%>
    <script type="text/javascript" src="/assets/js/calendar.js"></script>
<% } %>
<% if (page=='connections') { %>
    <%- include('connections/connections')-%>
<% } %>
<% if (page=='templates') { %>
    <%- include('templates/templates')-%>
<% } %>
<% if (page=='workflows') { %>
    <%- include('workflows/workflows')-%>
<% } %>
<!--end main content-->
<%- include('components/footer')-%>
<%- include('components/modal')-%>
<%- include('components/js')-%>
</body>
</html> 