<section>
	<div class="container">
		<div class="box-member-area">
			
			<%- include('../components/left')-%>
			<div class="right-member-area">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active"  id="all-tab" data-toggle="tab" data-target="#all" type="button" role="tab" aria-controls="all" aria-selected="false">All</button>
					</li>
                    <li class="nav-item" role="presentation">
						<button class="nav-link" id="horizontal-tab" data-toggle="tab" data-target="#horizontal" type="button" role="tab" aria-controls="horizontal" aria-selected="false">Horizontal</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="vertical-tab" data-toggle="tab" data-target="#vertical" type="button" role="tab" aria-controls="vertical" aria-selected="false">Vertical</button>
					</li>
					
                    <li class="nav-item" role="presentation">
						<button class="nav-link" id="square-tab" data-toggle="tab" data-target="#square" type="button" role="tab" aria-controls="square" aria-selected="false">Square</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
								  
                        <div style="margin-bottom:3%;">
					
                            <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Create a New Template</button>
                            <button type="button" class="btn btn-danger"></i>Predefined Templates </button>
                            
                        </div>
                        
                        <table id="tblTemplate" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Expire Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Active</td>
                                    
                                    <td>2011-04-25</td>
                
                                </tr>
                                
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    
                                    <td>2009-09-15</td>
                                    
                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td>Software Engineer</td>
                                    <td>Active</td>
                                    
                                    <td>2008-12-13</td>
                                    
                                </tr>
                                
                            </tbody>
                            
                        </table>
			  
					</div>
					<div class="tab-pane fade" id="horizontal" role="tabpanel" aria-labelledby="horizontal-tab">
						<div class="row">
							<div class="col">
                                HORIZONTAL
                            </div>
						</div>
					</div>
					<div class="tab-pane fade" id="vertical" role="tabpanel" aria-labelledby="vertical-tab">
						<div class="row">
							<div class="col">
                                VERTICAL
                            </div>
						</div>
					</div>
                    <div class="tab-pane fade" id="square" role="tabpanel" aria-labelledby="square-tab">
						<div class="row">
							<div class="col">
                                SQUARE
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="templates"	
</script>
