<section>
	<div class="container">
		<div class="box-member-area">
			<%- include('../components/left')-%>
			<div class="right-member-area">	
				<div style="margin-bottom:3%;">
					<button type="button" class="btn btn-success btnAddConnections" ><i class="fas fa-plus"></i> Add a New Connection</button>
				</div>

				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="all-tab" data-toggle="tab" data-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="source-tab" data-toggle="tab" data-target="#source" type="button" role="tab" aria-controls="source" aria-selected="false">Source</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="destination-tab" data-toggle="tab" data-target="#destination" type="button" role="tab" aria-controls="destination" aria-selected="false">Destination</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="inactive-tab" data-toggle="tab" data-target="#inactive" type="button" role="tab" aria-controls="inactive" aria-selected="false">Inactive</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
						<div class="con-table" style="margin-top:3%;">
							<div style="margin-bottom:2%;color:red;">
								<span> Changing passwords on social media accounts will require you reconnect</span>
							</div>
							<table id="workflow-table" class="table table-striped table-bordered" style="width:100%">
								<thead>
									<tr>
										<th>Type</th>
										<th>Name</th>
										<th>Status</th>
										<th>Expire Date</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Tiger Nixon</td>
										<td>System Architect</td>
										<td>Active</td>
										
										<td>2011-04-25</td>
					
									</tr>
									<tr>
										<td>Garrett Winters</td>
										<td>Accountant</td>
										<td>Active</td>
										
										<td>2011-07-25</td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">source</div>
					<div class="tab-pane fade" id="destination" role="tabpanel" aria-labelledby="destination-tab">destination</div>
					<div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">inactive</div>
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="connections"	
</script>
