<form  class="cmxform frm" data-form="tiktok">
    <div class="box-field">
        <input type="text" name="txtName" id="txtName" class="text-field" placeholder="Name This Connection" value="TikTok"  required>
        <i class="fas fa-podcast icon-field"></i>
    </div>
    <div class="box-field">
        <select id="optFormConnectionYoutube" name="optFormConnectionYoutube" class="text-field">
            <option value="">-- Permission --</option>
            <option value="1">Direct Publish</option>
            <option value="2">Upload Draft</option>
        </select>
        <i class="fas fa-lock icon-field"></i>
    </div>
    <button class="btn btn-primary btnRetryConnection">
        <i class="fas fa-hand-o-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-success btnConnect">
        <i class="fas fa-podcast" aria-hidden="true"></i> Connect
    </button>
</form>
