<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Octopuce.io</title>
    <meta name="description" content="We are IT consultant. Our focus is to provide technology solutions for your needs.
    With us everything is easier." />
    <meta name="keywords" content="Pariabeldotcom, Pariabel, IT Solution, Digital Studio, Web Development, Mobile App, Custom Software, Internet Of Things" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/icons/logo.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/assets/lib/fontawesome/css/all.css">
    <!-- Data table-->
    <link rel="stylesheet" href="/assets/css/dataTable.css">
    <!-- Scroll -->
    <script type="text/javascript" src="/assets/lib/scroll/modernizr.js"></script>
    <link rel="stylesheet" src="/assets/lib/scroll/style.css">
    <!-- Root -->
    <link rel="stylesheet" href="/assets/css/master.css">
    <link rel="stylesheet" href="/assets/lib/sneat/core.css">
    <link rel="stylesheet" href="/assets/lib/sneat/theme-default.css">
    <link rel="stylesheet" href="/assets/lib/apex-charts/apexcharts.css">
    <link rel="stylesheet" href="/assets/css/jquery.steps.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>