<!-- PLUGIN-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/js/dataTable.js"></script>
<script type="text/javascript" src="/assets/js/dataTableBootstrap.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/frontend/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/index.global.min.js"></script>
<script type="text/javascript" src="/assets/lib/scroll/main.js"></script>
<script type="text/javascript" src="/assets/lib/parallax/parallax.js"></script>
<script type="text/javascript" src="/assets/lib/apex-charts/apexcharts.js"></script>
<script type="text/javascript" src="/assets/lib/sneat/helpers.js"></script>
<script type="text/javascript" src="/assets/lib/sneat/config.js"></script>
<script type="text/javascript" src="/assets/lib/sneat/main.js"></script>
<script type="text/javascript" src="/assets/lib/sneat/dashboards-analytics.js"></script>
<script type="text/javascript" src="/assets/js/jquery.steps.js"></script>
<script type="text/javascript" src="/assets/js/notify.min.js"></script>
<!--END PLUGIN-->

<!--CUSTOM JS-->
<script type="text/javascript" src="/assets/js/master.js"></script>
<script type="text/javascript" src="/assets/js/helper.js"></script>
<script type="text/javascript" src="/assets/js/socket.js"></script>
<script type="text/javascript" src="/assets/js/module.js"></script>
<script type="text/javascript" src="/frontend/assets/js/const.js"></script>
<script type="text/javascript" src="/frontend/assets/js/api.js"></script>

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  

