<div class="left-member-area">
    <div class="box-avatar">
        <div class="img-avatar">
            <a href="/account" class="initial"></a>
        </div>
        <!--
        <div class="img-avatar-alt" style="background-image: url('./assets/images/img-andri.png');"></div>
        -->
        <div class="title-avatar title-content-account">
            <!--RENDER DOM-->
        </div>
        <span>
            Join Date : <span class="join_date"></span>
        </span>
        <div class="clearer"></div>
    </div>
    <div class="line-menu-member"></div>
        <div class="box-menu-member">
            <div class="list-menu-member">
                <a href="/connections">
                    <i class="fas fa-wifi"></i> <small>Connections</small>
                    <div class="clearer"></div>
                </a>
            </div>
            <div class="list-menu-member">
                <a href="/workflows">
                    <i class="fas fa-cubes"></i> <small>Workflows</small>
                    <div class="clearer"></div>
                </a>
            </div>
            <div class="list-menu-member">
                <a href="/templates">
                    <i class="fas fa-tags"></i> <small>Templates</small>
                    <div class="clearer"></div>
                </a>
            </div>
            <div class="list-menu-member">
                <a href="/calendars">
                    <i class="fas fa-calendar"></i> <small>Calendar</small>
                    <div class="clearer"></div>
                </a>
            </div>
            <!--
            <div class="list-menu-member">
                <a href="/affiliate">
                    <i class="fas fa-podcast"></i> <small>Affiliate Area</small>
                    <div class="clearer"></div>
                </a>
            </div>
            <div class="list-menu-member active-menu-member">
                <a href="/account">
                    <i class="fas fa-user"></i> <small>Profile</small>
                    <div class="clearer"></div>
                </a>
            </div>
            -->
            <div class="line-menu-member"></div>
            <div class="list-menu-member actLogout">
                <i class="fas fa-sign-out-alt"></i> <small>Logout</small>
                <div class="clearer"></div>
            </div>
        </div>
</div>